{% extends 'base.html' %}
{% block content %}

<h1>Pokemon Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ pokemon.name }}</span>
    <p>Pokedex Number: {{ pokemon.pokedex_number }}</p>
      <p>Classification: {{ pokemon.classfication }}</p>
      <p>Type One: {{ pokemon.type1 }}</p>
      {% if pokemon.type2 != 'n/a' %}
        <p>Type Two: {{ pokemon.type2 }}</p>
      {% endif %}
      <p>Generation: {{ pokemon.generation }}</p>
    </div>
  </div>

{% endblock %}

